.background    { background: rgb(50, 100, 250);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: red; }
.wall          { background: brown;   }
.glue    { background: white;}
.speedup {background: pink;}  
.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: green; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
